body{
  background:#fff;
}
.floatrightdetails{
	margin-right:10px;
	float:right
}
.hyipimage2{
	display:none
}
.floatrightdetails i{
	font-size:14px;color:#546d96;font-weight:normal
}
.buttonheadtrusted{
	width:100%;
	padding:10px;
	background:#6ccc5b;
	color:#fff
}
.buttonheadgeneral{
	width:100%;
	padding:10px;
	background:#56a5c4;
	color:#fff
}
.buttonheadtrial{
	width:100%;
	padding:10px;
	background:#e25353;
	color:#fff
}
.detailbuttons{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:20px;
}
.detailbuttons img{
	height:200px;
	width:150px
}
.floatrightdetails a{
	font-weight:normal;font-size:14px;color:#546d96
}
.details i{
	color: blue;
}
.home{
	padding:20px
}
.tabrow{
	background:#f7f7f7;border:1px solid #d3d3d3
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
      background-color: #f7f7f7; 
}
.nav-tabs>li>a{
      padding : 10px 10px;
}
.adminuser span{
	color:red
}

.addbanner_text{
	font-weight:bold;
	margin-bottom:5px;
}
.addbanner_rotation_box{
	width:100%;
	background: #ffa8a8;
	padding:10px;
	font-weight:bold;
	color:#ff1414;
	border:1px solid #ff1414;
	margin-bottom:10px
}
.addbanner_ava_box{
	width:100%;
	background: #b6ffb5;
	padding:10px;
	font-weight:bold;
	color:#198417;
	border:1px solid #198417;
	margin-bottom:10px
}
.addbanner_pur_box{
	width:100%;
	background: #a8cfff;
	padding:10px;
	font-weight:bold;
	color:#0d4c99;
	border:1px solid #0d4c99;
	margin-bottom:10px
}
.main{
	padding:0;
	margin:0;
}

.center{
	text-align:center
}
.adimage{
	width:90%
}
.rightbox{
	width:100%;border:1px solid #d2d2d2;margin:0 auto;border-bottom:3px solid #d2d2d2
}
.rightboxhead{
	font-size:16px;padding:10px;font-weight:bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,d3d3d3+100 */
background: rgb(233,233,233); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(211,211,211,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(211,211,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(211,211,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */

}
.righttitle{
	margin-left:2px;color:#546d96
}
.floatright{
	float:right
}
.floatright i{
	font-size:14px;color:red;font-weight:normal
}
.floatright a{
	font-weight:normal;font-size:14px;color:red
}
.rightrow{
	margin:0
}
.hyipimage{
	width:25%;padding:15px 10px 10px 10px;border-right:1px solid #d2d2d2;text-align:center
}
.hyipimage img{
	width:115px;height:115px
}
.hyipcontent{
	height:100%;border-right:1px solid #d2d2d2;padding:10px 10px 10px 0;font-size:12px;font-family: verdana
}
.rem{
	color:#528cea;font-weight:bold
}
.accept{
	height:15px
}
.paying{
	padding:15px 10px 10px 0;font-size:12px;font-family: verdana
}
.payingboxgreen{
	width:65%;margin:0 auto;text-align:center;color:#fff;font-size:20px;font-weight:bold;background:#38b22e;padding:10px
}
.payingboxorange{
	width:65%;margin:0 auto;text-align:center;color:#fff;font-size:20px;font-weight:bold;background:#f96c4c;padding:10px
}
.payingboxyellow{
	width:65%;margin:0 auto;text-align:center;color:#fff;font-size:20px;font-weight:bold;background:#ffe049;padding:10px
}
.payingboxred{
	width:65%;margin:0 auto;text-align:center;color:#fff;font-size:20px;font-weight:bold;background:#ff3838;padding:10px
}
.payingboxcontent{
	margin-top:10px;text-align:center
}
.plan{
	padding:10px;border-top:1px solid #d2d2d2;font-size:12px;font-family: verdana
}
.plan i{
	color:#61a38c
}
.plan span{
	color:#61a38c
}
.feature{
	height:15px
}
.left{
	padding:20px;
}
.leftbox{
	width:90%;border:1px solid #d2d2d2;margin:0 auto
}
.leftboxhead{
	font-size:16px;padding:10px;text-align:center;color:#fff;font-weight:bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b4a6d+0,2a303f+100 */
background: rgb(59,74,109); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,74,109,1) 0%, rgba(42,48,63,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,74,109,1) 0%,rgba(42,48,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,74,109,1) 0%,rgba(42,48,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4a6d', endColorstr='#2a303f',GradientType=0 ); /* IE6-9 */

}
.ta{
	font-size:11px;
	background:#e7e7e7
}
.ta th{
	font-weight:bold
}
.leftboxcontent{
	padding:20px
}
.leftbuttons a{
	background:#546d96;border:1px solid #32435e
}
.lefthyip{
	font-size:13px
}
.lefthyip i{
	color:#546d96
}
.lefthyip span{
	float:right;color:#546d96
}
.hr{
	margin-top:10px;margin-bottom:10px
}
.but{
	padding:0;margin:0;text-align:center
}
.butt{
	padding:0
}
.col3{
	width:25%
}
.col2{
	width:13%
}
.col5{
	width:74%
}
.new{
	width:61%
}
.add{
	border:1px solid #d2d2d2;
}
.addinner{
	padding:20px;
	font-size:12px
}
.tdmoney{
	font-weight:bold
}
.addb{
	font-size:14px;
	text-align:center
}
.tdred{
	color:red
}
.add .leftboxhead{
	font-size:18px;
	text-align:left;
}
.new{
	font-size:12px
}
.adbox{
	padding-bottom:10px
}
.main-content{
	padding-top:20px;
	padding-bottom:20px;
	background:#546d96;
	border-bottom:5px solid #32435e;
}

.buttons{
	padding-top:5px;
	padding-bottom:15px;
	text-align:center
}

#custom-search-input {
		text-align:center;
		width:103%;
}
 
#custom-search-input .search-query {
        padding:20px; 
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#147aa0;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
.main-content p{
	color:#fff;
	font-size:17px;
	text-align:center;
	font-family: sans-serif;
	padding-top:15px
}

.navigation-clean-button{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b4a6d+0,2a303f+100 */
background: rgb(59,74,109); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,74,109,1) 0%, rgba(42,48,63,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,74,109,1) 0%,rgba(42,48,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,74,109,1) 0%,rgba(42,48,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4a6d', endColorstr='#2a303f',GradientType=0 ); /* IE6-9 */

  padding-top:10px;
  padding-bottom:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}


.navigation-clean-button .navbar-brand{
  font-size:22px;
  font-weight:bold;
  color:#fff;
}

.navigation-clean-button .navbar-brand:hover{
  color:#fff;
}

.navigation-clean-button.navbar-inverse .navbar-brand:hover{
  color:#fff;
}

.navigation-clean-button .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean-button .navbar-toggle{
  border-color:#ddd;
}

.navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus{
  background:none;
}

.navigation-clean-button.navbar-inverse .navbar-toggle{
  border-color:#555;
}

.navigation-clean-button .navbar-toggle .icon-bar{
  background-color:#888;
}

.navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar{
  background-color:#eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form{
  border-top-color:#ddd;
}

.navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form{
  border-top-color:#333;
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover{
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a{
  color:#fff;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover{
  color:#89a1c6 !important;
  background-color:transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover{
  background:#eee;
  color:inherit;
}

.navigation-clean-button.navbar-inverse{
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean-button.navbar-inverse .navbar-nav > .active > a, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:hover{
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a{
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > li > a:hover{
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > .dropdown-menu{
  background-color:#1f2021;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a{
  color:#f2f5f8;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:hover{
  background:#363739;
}

.navigation-clean-button .actions{
  margin-top:7px;
  margin-bottom:0;
}

.navigation-clean-button .actions .login{
  margin-right:7px;
  text-decoration:none;
  color:#465765;
}

.navigation-clean-button.navbar-inverse .actions .login{
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .actions .login:hover{
  color:#fff;
}

.action-button, .navigation-clean-button .action-button:active{
  background:#147aa0;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:1px solid #fff;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
  width:200px;
}

.action-button:hover{
  background:#4eabce;
}

.action-button, .navigation-clean-button.navbar-inverse .action-button:active{
  background:#208f8f;
}

.action-button:hover{
  background:#269d9d;
}

.logo{
	font-family: 'Kaushan Script', cursive;
}
.footer{
	width:100%;
	background: rgb(59,74,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(59,74,109,1) 0%, rgba(42,48,63,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(59,74,109,1) 0%,rgba(42,48,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(59,74,109,1) 0%,rgba(42,48,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4a6d', endColorstr='#2a303f',GradientType=0 ); /* IE6-9 */
	border-top:2px solid #546d96
}
.add .leftboxhead{
	padding-left:20px
}
.footerinner{
	width:80%;
	text-align:center;
	margin:0 auto;
	padding:20px;
	color:#fff;
	font-size:12px
}
@media (max-width:500px) {
  .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color:#fff;
  }
  .navigation-clean-button .navbar-nav .open .dropdown-menu{
    box-shadow:none;
  }
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a{
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
  .navigation-clean-button{
    padding-top:0;
    padding-bottom:0;
  }
  .navigation-clean-button .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
  .navigation-clean-button .navbar-right{
    margin-bottom:20px;
  }
  .col3{
	width:100%
}
.col2{
	width:100%
}
.col5{
	width:100%
}
.new{
	width:100%
}
.butt{
	text-align:center;
	margin-top:5px;
}
.butt a{
	width:100%
}
.but a{
	width:100%
}
.but{
	margin-top:5px;
}
.ad{
	display:none
}
.hyipcontent{
	text-align:center;
	font-size:12px
}
.hyipimage{
	width:100%
}
.rightboxhead{
	font-size:14px;
}
.floatright{
	display:none
}
.nav-tabs li.active{
	background:#f7f7f7
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
   background-color: #f7f7f7; 
} 
.home{
	padding:20px
}
.lefthyip span{
	float:none;
	display:block
}
.hr{
	margin-top:20px
}
.leftbox{
	width:100%
}
.adimage{
	padding-bottom:10px
}
}

@media (max-width:1000px) {
  .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color:#fff;
  }
  .navigation-clean-button .navbar-nav .open .dropdown-menu{
    box-shadow:none;
  }
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a{
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
  .navigation-clean-button{
    padding-top:0;
    padding-bottom:0;
  }
  .navigation-clean-button .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
  .navigation-clean-button .navbar-right{
    margin-bottom:20px;
  }
  .col3{
	width:100%
}
.col2{
	width:100%
}
.col5{
	width:100%
}
.new{
	width:100%
}
.butt{
	text-align:center;
	margin-top:5px;
}
.butt a{
	width:100%
}
.but a{
	width:100%
}
.but{
	margin-top:5px;
}
.ad{
	display:none
}
.hyipcontent{
	text-align:center;
	font-size:12px
}
.hyipimage{
	width:100%
}
.rightboxhead{
	font-size:14px;
}
.floatright{
	display:none
}
.leftbox{
	width:100%
}
.adimage{
	padding-bottom:10px
}
}