{% extends 'base.html' %}
{% block content %}
<div class="container-fluid main">
<div class="main-content">
<div class="row">
<div class="col-md-12">
</div>
</div>
</div>
<div class="row">
</div>
<br>
<div class="row left">


<div class="col-md-3 col3">
<div class="leftbox">
<div class="leftboxhead">
<i class="fa fa-history blue"></i> Top Programs
</div>
<div class="leftboxcontent">
<div class="row leftbuttons">

</div>
<br>
    <ul class="nav nav-tabs tabmy">
    <li class="active"><a href="#home">All Time</a></li>
    <li><a href="#menu1">Yesterday</a></li>
    <li><a href="#menu2">Today</a></li>

    </ul>

      <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      {% for n in top_prog%}
        <div class='lefthyip'>
            <a href='#'>{{n.name}}</a><span>{{n.total_deposit|floatformat:2}}</span>
        </div>
      {% endfor %}
    </div>
    <div id="menu1" class="tab-pane fade">
      {% for n in top_today%}
        <div class='lefthyip'>
            <a href='#'>{{n.name}}</a><span>{{n.total_deposit|floatformat:2}}</span>
        </div>
      {% endfor %}
    </div>
    <div id="menu2" class="tab-pane fade">
      {% for n in top_yesterday%}
        <div class='lefthyip'>
            <a href='#'>{{n.name}}</a><span>{{n.total_deposit|floatformat:2}}</span>
        </div>
      {% endfor %}
    </div>
  </div>

<div class="tab-content">
<div role="tabpanel1" class="tab-pane active" id="all">


</div>
<div role="tabpanel1" class="tab-pane" id="yest">
<?php $counter =0;
 foreach( $totalyesterdaysorted as $id1=>$value1){
$name = $value1['name']; $url = $value1['url']; $totaldepo = (int) $value1['totalyesterday'];
if($counter < 11 && $totaldepo > 0){
?>
<div class='lefthyip'>
<a href='/hyiplist/programdetails.php?id=<?php echo str_replace('/','_',$url);?>'><?php echo $name;?><span><?php echo $totaldepo;?></span>
</div>
<?php }$counter++;}?>

</div>
<div role="tabpanel1" class="tab-pane" id="today">
<?php $counter =0;
 foreach( $totaltodaysorted as $id1=>$value1){
$name = $value1['name']; $url = $value1['url']; $totaldepo = (int)$value1['totaltoday'];
if($counter < 11 && $totaldepo > 0){
?>
<div class='lefthyip'>
<a href='/hyiplist/programdetails.php?id=<?php echo str_replace('/','_',$url);?>'><?php echo $name;?><span><?php echo $totaldepo;?></span></a>
</div>
<?php }$counter++;}?>

</div>
</div>
</div>
</div>
<br>
<div class="leftbox">
<div class="leftboxhead">
<i class="fa fa-history blue"></i> Top Monitors
</div>
<div class="leftboxcontent">
<div class="row leftbuttons">
<ul class="nav nav-tabs" role="tablist" style="border:none">
<div class="col-md-4 but">
</div>
<div class="col-md-4 but">
</div>
<div class="col-md-4 butt">
</div>
</ul>
</div>
<br>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="all2">
<?php $counter =0;
 foreach( $totalbuttonssorted as $id1=>$value1){$counter++;
if($counter < 21){
$name = $value1['name']; $url = $value1['url']; $total = $value1['buttonscount'];
?>
<div class='lefthyip'>
<a href='/hyiplist/programdetails.php?id=<?php echo str_replace('/','_',$url);?>'><?php echo $name;?><span><?php echo $total;?></span></a>
</div>
<?php }}?>

</div>
<div role="tabpanel" class="tab-pane" id="yes2">
</div>
</div>
</div>
</div>
</div>



<div class="col-md-5 col5">
<div id="custom-search-input">
	<form action="{% url 'search' %}" method="GET">
		<div class="input-group col-md-12">
			<input name="hyip" type="text" class="  search-query form-control" placeholder="Search hyips.." />
			<span class="input-group-btn"><button class="btn btn-danger" type="submit"><span class=" glyphicon glyphicon-search"></span></button></span>
		</div>
	</form>
</div>
<div style="clear:both"></div><br>
{% for i in result.object_list %}

<div class="rightbox">
<div class="rightboxhead">
<i class="fa fa-external-link"></i> <a id="righttitle" href="https://{{i.url}}" target="_blank">{{i.url}}</a>
<span class="floatright">
<i class="fa fa-ban"></i> <a href="">Scam report</a>
</span>
<span class="floatrightdetails">
<i class="fa fa-info-circle"></i> <a href="{% url 'detailspage' %}?id={{i.url}}">Program Details</a>
</span>
</div>
<div class="rightboxcontent">
<div class="row rightrow">
<div class="col-md-2 hyipimage" id="hyipimage5078">
<img src="https://blinky.nemui.org/shot?https://{{i.url}}" >
</div>
<div class="col-md-2 hyipimage hyipimage2" id="hyipimage25078">
<img src="images/default.gif">
</div>
<div class="col-md-5">
<div class="hyipcontent">
<div class="data">» Monitor Since : <strong>{{ i.created_date }} ({{i.lifetime}} days)</strong></div>
<div class="data">» Withdrawal : <strong>{{ i.withdrawtype }}</strong></div>
<div class="data">» Minimum Deposit : <strong>{{ i.min_depo }}</strong></div>
<div class="data">» Last Payout : <span style="color:#61a38c"><strong>{{ i.last_paid }} </strong></span></div>
<div class="data">» Accept :  {% for y in i.takes %} {{y}} {% endfor%}, </div>
<div class="data">» status count<strong>
    Paying : {{i.paying_c}}, Waiting : {{i.waiting_c}}, Problem : {{i.problem_c}}, Not Paying : {{i.notpaying_c}}
</strong></div>
<div class="data">» ssl valid : <strong>{{ i.ssl_valid }} </strong></div>
<div class="data">» issuer brand: <strong>{{ i.issuer_brand }} </strong></div>
<div class="data">» validation type : <strong>{{ i.validation_type }} </strong></div>
<div class="data">» script : <strong>{{ i.script }} </strong></div>
<div class="data">» datacenter : <strong>{{ i.datacenter }} </strong></div>
<div class="data">» IP : <strong>{{ i.ip }} </strong></div>
<div class="data">» servers : <strong>{{ i.servers }} </strong></div>
<div class="data">» forums : <strong>
{% for z in i.forums%}
<a href="{{z.link}}">{{z.name}}</a>, &nbsp;
{% endfor %}
</strong>
</div>
</div>
</div>
<div class="col-md-4">
<div class="paying">
<div class="payingboxgreen">{{ i.status1 }}</div>
<div class="payingboxcontent">
<div class="data">» Monitor Count : <strong>{{i.monitors_count}}</strong></div>
<div class="data">» Total Deposit : <strong>{{i.total_deposit}}</strong></div>
</div>
</div>
</div>
</div>
<div class="plan">
<i class="fa fa-line-chart arrow"></i> <span>Investment Plan: <strong>{{ i.investmentplan }}</strong></span>
</div>
</div>
    </div>
<br>
{% endfor %}
{% load i18n %}
<nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">
    {% if result.has_previous %}
        <li class="page-item"><a class="page-link" href="?{{ result.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% else %}
        <li class="page-item"><span class="page-link disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span></li>
    {% endif %}
    {% for page in result.pages %}
        {% if page %}
            {% ifequal page result.number %}
        <li class="page-item"><span class="current page page-link">{{ page }}</span></li>
            {% else %}
        <li class="page-item"><a class="page-link" href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}

        {% endif %}
    {% endfor %}
    {% if result.has_next %}
        <li class="page-item"><a href="?{{ result.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
        <li class="page-item"><span class="page-link disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span></li>
    {% endif %}
    </ul>
</nav>

<div class="row"><div class="col-md-12 text-center"></div></div>
</div>
</div>
</div><br>
{% endblock content %}