{% extends 'base.html' %}
{% block content %}
<div class="container-fluid main">
<div class="main-content">
<div class="row">
<div class="col-md-12">
</div>
</div>
</div>
<div class="row">
</div>
<br>
<div class="row left">
<div class="col-md-3 col3">
<div class="leftbox">
<div class="leftboxhead">
<i class="fa fa-history blue"></i> Top Programs
</div>
<div class="leftboxcontent">
<div class="row leftbuttons">
<ul class="nav nav-tabs" role="tablist" style="border:none">
<div class="col-md-4 but">
<a href="#all" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-primary">All Time</a>
</div>
<div class="col-md-4 but">
<a href="#today" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-primary">Today</a>
</div>
<div class="col-md-4 butt">
<a href="#yes" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-primary">Yetserday</a>
</div>
</ul>
</div>
<br>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="all">
	{% for n in top_prog%}
	<div class='lefthyip'>
		<a href='#'>{{n.name}}</a><span>{{n.total_deposit|floatformat:2}}</span>
	</div>
	{% endfor %}
</div>
<div role="tabpanel" class="tab-pane" id="today">
		{% for n in top_today%}
	<div class='lefthyip'>
		<a href='#'>{{n.name}}</a><span>{{n.total_deposit|floatformat:2}}</span>
	</div>
	{% endfor %}
</div>
<div role="tabpanel" class="tab-pane" id="yes">
		{% for n in top_yesterday%}
	<div class='lefthyip'>
		<a href='#'>{{n.name}}</a><span>{{n.total_deposit|floatformat:2}}</span>
	</div>
	{% endfor %}
</div>
</div>
</div>
</div>
<br>
<div class="leftbox">
<div class="leftboxhead">
<i class="fa fa-history blue"></i> Top Monitors
</div>
<div class="leftboxcontent">
<div class="row leftbuttons">
<ul class="nav nav-tabs" role="tablist" style="border:none">
<div class="col-md-4 but">
<a href="#all2" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-primary">Today</a>
</div>
<div class="col-md-4 but">
</div>
<div class="col-md-4 butt">
<a href="#yes2" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-primary">Yetserday</a>
</div>
</ul>
</div>
<br>
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="all2">
</div>
<div role="tabpanel" class="tab-pane" id="yes2">
</div>
</div>
</div>
</div>
</div>
{% for i in result %}
<div class="col-md-5 col5">
<div class="rightbox">
<div class="rightboxhead">
<i class="fa fa-external-link"></i> <a id="righttitle" href="https://{{i.url}}" target="_blank">{{i.url}}</a>
<span class="floatright">
<i class="fa fa-ban"></i> <a href="">Scam report</a>
</span>
<span class="floatrightdetails">
</span>
</div>
<div class="rightboxcontent">
<div class="row rightrow">
<div class="col-md-2 hyipimage" id="hyipimage5114">
<img src="https://blinky.nemui.org/shot?https://{{i.url}}" >
</div>
<div class="col-md-2 hyipimage hyipimage2" id="hyipimage25114">
</div>
<div class="col-md-5">
<div class="hyipcontent">
<div class="data">» Monitor Since : <strong>{{ i.created_date }} ({{i.lifetime}})</strong></div>
<div class="data">» Withdrawal : <strong>{{ i.withdrawl }}</strong></div>
<div class="data">» Minimum Deposit : <strong>{{ i.min_depo }}</strong></div>
<div class="data">» Last Payout : <span style="color:#61a38c"><strong>{{ i.last_paid }} </strong></span></div>
<div class="data">» Accept :  {% for y in i.takes %} {{y}} {% endfor%}, </div>

<div class="data">» ssl valid : <strong>{{ i.ssl_valid }} </strong></div>
<div class="data">» issuer brand: <strong>{{ i.issuer_brand }} </strong></div>
<div class="data">» validation type : <strong>{{ i.validation_type }} </strong></div>
<div class="data">» script : <strong>{{ i.script }} </strong></div>
<div class="data">» datacenter : <strong>{{ i.datacenter }} </strong></div>
<div class="data">» IP : <strong>{{ i.ip }} </strong></div>
<div class="data">» servers : <strong>{{ i.servers }} </strong></div>
<div class="data">» forums : <strong>
{% for z in i.forums%}
<a href="{{z.link}}">{{z.name}}</a>, &nbsp;
{% endfor %}
</strong>
</div>
</div>
</div>
<div class="col-md-4">
<div class="paying">
<div class="payingboxgreen">{{i.status}}</div>
<div class="payingboxcontent">
<div class="data">&raquo Monitor Count : <strong>{{i.monitors_count}}</strong></div>
<div class="data">&raquo Total Deposit : <strong>${{total_deposit}}</strong></div>
<div class="data">&raquo Number of deposits : <strong>{{num_depositors}}</strong></div>
<div class="data">&raquo Number of Investors: <strong>{{num_investors}}</strong></div>
<div class="data">» status count<strong>
    Paying : {{paying}}, Waiting : {{waiting}}, Problem : {{problem}}, Not Paying : {{notpaying}}
</strong></div>

</div>
</div>
</div>
</div>
<div class="plan">
<i class="fa fa-line-chart arrow"></i> <span>Investment Plan: <strong>{{i.investmentplan}}</strong></span>
</div>
</div>
</div>
<br>
<div class="buttonheadtrusted">
<div class="buttonheadtexttrusted">
Trusted Monitors
</div>
</div>
<div class="detailbuttons">
	{% autoescape on %}
	{{i.mbutton|safe}}
	{% endautoescape %}
	<!--{% for b in i.buttons%}-->
		<!--{{b | safe}}-->
	<!--{% endfor %}-->

</div>
<br>
<div class="buttonheadtrusted">
<div class="buttonheadtexttrusted">
Top 20 deposits
</div>
</div>
<div class="detailbuttons">
{% if top_depo %}
<table class='table' width='100%'>
	<tr><td> User</td><td> Depo </td><td>Date</td></tr>
	{% for dep in top_depo %}
	<tr>
		<td>{{dep.user}}</td>
		<td>{{dep.depo}}</td>
		<td>{{dep.date}}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	No data available
{% endif %}

</div>
<br>
<div style='padding:20px'>
<input id="deposit" type="text" class="search-query form-control" placeholder="Calculate RCB..."><button id='trigger_calculation' type='button' onclick='calculate();' >Calculate</button>
</div>
<br>

<div class="buttonheadtrusted">
<div class="buttonheadtexttrusted">
RCB
</div>
</div>
<div class="detailbuttons">
{% if rcb_list %}
<table id='investblog' class='table'>
<tr><td>min</td><td>max</td><td>bonus</td><td>1stRCB</td><td>1stbonus</td><td>secRCB</td><td>secbonus</td><td>calculated 1st_rcb</td><td>calculated scd_rcb</td></tr>
{% for b in rcb_list %}
<tr><td>{{b.min}}</td><td>{{b.max}}</td><td>{{b.percentage}}</td><td>{{b.1stDepRCB}}</td><td>{{b.1stbonus}}</td><td>{{b.redep_rcb}}</td><td>{{b.redep_bonus}}</td><td></td><td></td></tr>
{% endfor %}
</table>
{% else %}
	No data available
{% endif %}
</div>

</div>
{% endfor %}

</div>
</div><br>
{% endblock content %}
{% block extrajs %}
<script type='text/javascript'>
function calculate() {
deposit = $('#deposit').val();
console.log(deposit);
var a = ['fairmonitor', 'investblog' ,'graspgold','investtracing','myhyips','hyipclub','allhyips','uhyips','hyipcruiser','elitemonitor'];
a.forEach(function(entry) {
    console.log(entry);
	if($('#'+entry).length){
		console.log('table '+entry+' exist');
		var table = document.getElementById(entry);
		set = false;
		$('#'+entry+' tr').each(function(j, row){
			var $row = $(row);
			if(j > 0 && set === false){
				min = $row.find('td').eq(0).text().replace('$','');
			        max = $row.find('td').eq(1).text().replace('$','');
				percentage = $row.find('td').eq(2).text().replace('%','');
				first_rcb = $row.find('td').eq(3).text().replace('%','');
				first_bonus = $row.find('td').eq(4).text().replace('$','');
				second_rcb = $row.find('td').eq(5).text().replace('%','');
				second_bonus = $row.find('td').eq(6).text().replace('$','');
				val = parseFloat(parseFloat(deposit)*parseFloat(percentage))/100;
                                console.log(val);console.log(first_bonus);
				if(parseFloat(min)<= parseFloat(deposit) && parseFloat(deposit)<=parseFloat(max) ){
				    first_calculated_rcb = parseFloat(parseFloat(val*parseFloat(first_rcb)/100) +
							parseFloat(first_bonus));
                                    console.log(first_calculated_rcb);
				 $row.find('td').eq(7).text(first_calculated_rcb);
			        second_calculated_rcb = (val*parseFloat(second_rcb)/100) + parseFloat(second_bonus);
					$row.find('td').eq(8).text(second_calculated_rcb);
					set = true;
}}});}});
}



</script>
{% endblock extrajs %}
