{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="{% static 'adminpanel/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'adminpanel/css/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/morris.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'adminpanel/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'adminpanel/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'adminpanel/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/darkblue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'adminpanel/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile"> Alvin </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="page_user_profile_1.html">
                                            <i class="icon-user"></i> Settings </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->

                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <!-- END SIDEBAR TOGGLER BUTTON -->
                <li class="sidebar-search-wrapper">
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search" action="page_general_search_3.html" method="POST">
                        <a href="javascript:;" class="remove">
                            <i class="icon-close"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>
                <li class="nav-item start active open">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start">
                    <a href="{% url 'scrapperlist' %}" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Scrapper</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start">
                    <a href="{% url 'flushdatabase' %}" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Flush Database</span>
                        <span class="selected"></span>
                    </a>
                </li>
               <!--<li class="nav-item start">-->
                    <!--<a href="{% url 'allscraper' %}" class="nav-link nav-toggle">-->
                        <!--<i class="icon-home"></i>-->
                        <!--<span class="title">All Scrapper Run</span>-->
                        <!--<span class="selected"></span>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="nav-item start">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Settings</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">Scrapper</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'allhyips' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">allhyips</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'elitemonitor' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">elitemonitor</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'fairmonitor' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">fairmonitor</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'graspgold' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">graspgold</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'hyipclub' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">hyipclub</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'hyipcruiser' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">hyipcruiser</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'investtracing' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">investtracing</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'myhips' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">myhips</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item start active open">-->
                            <!--<a href="{% url 'myinvestblog' %}" class="nav-link ">-->
                                <!--<i class="icon-bar-chart"></i>-->
                                <!--<span class="title">myinvestblog</span>-->
                                <!--<span class="selected"></span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <li class="nav-item start active open">
                            <a href="{% url 'uhyips' %}" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">uhyips</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
            <!-- END SIDEBAR -->
            </div>
            {% block content %}
            {% endblock content %}
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2019 &copy;
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
        <script src="{% static 'adminpanel/js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <!-- <script src="js/js.cookie.min.js" type="text/javascript"></script> -->
        <script src="{% static 'adminpanel/js/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <!-- <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script> -->
        <script src="{% static 'adminpanel/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'adminpanel/js/moment.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/daterangepicker.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/morris.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/raphael-min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/jquery.counterup.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'adminpanel/js/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'adminpanel/js/dashboard.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'adminpanel/js/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/demo.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'adminpanel/js/quick-sidebar.min.js' %}" type="text/javascript"></script>
    </body>
</html>