{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hyip | User Login </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="{% static 'adminpanel/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'adminpanel/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'adminpanel/css/login.min.css' %}" rel="stylesheet" type="text/css" />

    </head>
    <body class="login">
        <div class="content">

            <form class="login-form" action="" method="POST">
                {% csrf_token %}
                <h3 class="form-title font-green">Sign In</h3>
                <p style="color:red">{{message}}</p>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Login</button>
                </div>
            </form>
            <!-- END REGISTRATION FORM -->
        </div>
        <div class="copyright"> 2019 © Hyip</div>
    </body>
</html>