{% extends 'adminpanel/base.html' %}
{% block content %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Dashboard</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <h1 class="page-title"> January 20 , Saturday
            <small>Meal Set </small>
        </h1>
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="portlet light bg-inverse form-fit">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                    <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th width="30%"> Name </th>
                                    <th> Datetime </th>
                                    <th class="numeric"> Action </th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for i in result.object_list %}
                                <tr>
                                    <td> {{i.url}} </td>
                                    <td> {{ i.created_date }} </td>
                                    <td><a href="">Scap</a> </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                        <!-- END FORM-->
                    </div>
                </div>

                {% load i18n %}
<nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">
    {% if result.has_previous %}
        <li class="page-item"><a class="page-link" href="?{{ result.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% else %}
        <li class="page-item"><span class="page-link disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span></li>
    {% endif %}
    {% for page in result.pages %}
        {% if page %}
            {% ifequal page result.number %}
        <li class="page-item"><span class="current page page-link">{{ page }}</span></li>
            {% else %}
        <li class="page-item"><a class="page-link" href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}

        {% endif %}
    {% endfor %}
    {% if result.has_next %}
        <li class="page-item"><a href="?{{ result.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
        <li class="page-item"><span class="page-link disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span></li>
    {% endif %}
    </ul>
</nav>


            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
    </div>
    <!-- END CONTENT BODY -->
</div>
{% endblock content %}