{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'custom.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link rel="icon" type="image/png" href="" />
<script src="{% static 'jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap.js' %}" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{% static '9fac469b18.js' %}" type="text/javascript"></script>
<title>HYIP Monitor</title>
</head>
<body>
<nav class="navbar navbar-default navigation-clean-button">
<div class="container-fluid">
<div class="navbar-header" style="margin-left:20px"><a class="navbar-brand logo" href="{% url 'index' %}">HYIP Monitor</a>
<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
</div>
<div class="collapse navbar-collapse navbar-right" id="navcol-1">
<ul class="nav navbar-nav">
<li role="presentation"><a href="index.php"><i style="margin-right:2px" class="fa fa-home fa-fw" aria-hidden="true"></i>HOME</a></li>
<li role="presentation"><a href="#"><i style="margin-right:2px" class="fa fa-rss fa-fw" aria-hidden="true"></i>BLOG</a></li>
<li role="presentation"><a href="#"><i style="margin-right:2px" class="fa fa-plus fa-fw" aria-hidden="true"></i>ADD HYIP</a></li>
<li role="presentation"><a href="#"><i style="margin-right:2px" class="fa fa-th-large fa-fw" aria-hidden="true"></i>ADD BANNER</a></li>
<li role="presentation"><a href="#"><i style="margin-right:2px" class="fa fa-comments-o fa-fw" aria-hidden="true"></i>FAQ</a></li>
<li role="presentation"><a href="#"><i style="margin-right:2px" class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>CONTACT US</a></li>
</ul>
</div>
</div>
</nav>
{% block content %}{% endblock content %}
<div class="footer">
<div class="footerinner">
Disclaimer: Please bear in mind that all HYIPs investments presuppose high risks. We do not promote or endorse any programs listed here. Some programs may be illegal depending on your country's laws. Past Performance of any of programs is no guarantee for the same or similar future performance. Paying status and others status is for this monitor not for your. We don't give practice, all investments decisions are yours. DON'T SPEND WHAT YOU CAN'T AFFORD TO LOSE!
<br><br>Copyright &copy; HYIPMONITOR 2017 All rights reserved
</div>
</div>
<script src="{% static 'rocket-loader.min.js' %}" ></script>
{% block extrajs %}{% endblock extrajs %}
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
});
</script>
</body>

</html>